body {
  background-color: #E8F9FD;
} 
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  width: 4%;
}
h1 {
  color: #005555;
}
h3 {
  color: #069A8E;
}
